

.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  margin-top: 20px;
}

.App-header {
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.2em 0;
}
